.container {
  display: flex;
  height: 100%; /* Occupy the full viewport height */
  width: 100%;
  
}


.leftPane, .rightPane {
  height: 100%;
  overflow: hidden;
}
.resizer {
  width: 6px; /* Thickness of the divider */
  cursor: ew-resize;
  background-color: #888; /* Modern color */
  position: relative;
  z-index: 10;
}

.resizer:hover {
  background-color: #555; /* Hover effect */
}

.rightPane {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure chat interface occupies full height */
}


