.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Occupy full height of the viewport */
  width: 100vw;
}

.mainContainer {
  flex: 1;
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}
