/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Occupy full height of the viewport */
  width: 100vw;
}

.mainContainer {
  flex: 1;
  display: flex;
  height: calc(100% - 64px); /* Subtract navbar height */
  overflow: hidden;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}